@use "./variables" as *;

.hud-crosshair {
  position: fixed;
  left: 50%;
  top: 50%;
  width: $crosshair-size;
  height: $crosshair-size;
  transform: translate(-50%, -50%);
  pointer-events: none;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    background: $crosshair-color;
    transform: translate(-50%, -50%);
  }

  &::before {
    width: $crosshair-thickness;
    height: $crosshair-size;
  }

  &::after {
    width: $crosshair-size;
    height: $crosshair-thickness;
  }
}

.hud-hitmarker {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 14px;
  height: 14px;
  transform: translate(-50%, -50%) rotate(45deg);
  pointer-events: none;
  opacity: 0;
  transition: opacity 80ms linear;
  border: 2px solid white;
  border-left: 0;
  border-top: 0;
}

.hud-hitmarker.is-on {
  opacity: 1;
}

.hud-score {
  position: fixed;
  top: 16px;
  left: 16px;
  font: 600 14px/1.2 system-ui, -apple-system, Segoe UI, Roboto, Arial;
  color: white;
  user-select: none;
  pointer-events: none;
  text-shadow: 0 1px 2px rgba(0,0,0,0.6);
}

.hud-ammo {
  position: fixed;
  bottom: 18px;
  left: 16px;
  font: 600 14px/1.2 system-ui, -apple-system, Segoe UI, Roboto, Arial;
  color: white;
  user-select: none;
  pointer-events: none;
  text-shadow: 0 1px 2px rgba(0,0,0,0.6);
}


